<p>Hi {{ user.username }},</p>

<p>
  Welcome to Meal Manager.
  <br/>
  Your confirmation code is here : <b>{{confirmation_token}}</b>
</p>

{{--  
    <p>
        <a href="{{ appUrl('/auth/register/confirm/' + confirmation_token) }}">Confirm email address</a>
    </p>
--}}