<p>Hi {{ createUser.username }},</p>

<p>
  Welcome to Meal Manager.
  <br/>
  Your password is here : <b>{{memberPassword}}</b>
  <br/>
  Your confirmation code is here : <b>{{createUser.confirmation_token}}</b>
</p>